{{template "partials/header" .}}

<h1>Register</h1>
<br>
<form method="POST" action="/register">
	<div class="mb-3">
		<label for="name" class="form-label">Name</label>
		<input type="text" class="form-control" name="name" id="name" placeholder="Nama">
	</div>
	<div class="mb-3">
		<label for="name" class="form-label">Password</label>
		<input type="text" class="form-control" name="password" id="password" placeholder="Password">
	</div>			
	<button type="submit" class="btn btn-primary">Sign Up</button>
</form>

{{template "partials/footer" .}}