{{template "partials/header" .}}
<h1>User Detail</h1>
<br>

<div class="card" style="width: 18rem;">
	<div class="card-body">
	  <h5 class="card-title">{{.User.Name}}</h5>
	  <h6 class="card-subtitle mb-2 text-muted">User Id: {{.User.Id}}</h6>
	  <p class="card-text">Password: {{.User.Password}}</p>
	  
	</div>
</div>
<br>
<div>
	<a href="/users" class="btn btn-primary">Back</a> &nbsp; 
	<a href="/users/deleteuser/{{.User.Id}}" class="btn btn-danger">Delete</a>  &nbsp; 
	<a href="/users/edituser/{{.User.Id}}" class="btn btn-info">Edit</a>
</div>

{{template "partials/footer" .}}