{{template "partials/header" .}}

<h1>Users</h1>
<br>
<a href="/users/create" class="btn btn-primary">Add User</a>
<div>
	<table class="table table-striped">
		<thead>
		  <tr>
			<th scope="col">No.</th>
			<th scope="col">User</th>
			<th scope="col">Password</th>
			<th scope="col">Actions</th>
		  </tr>
		</thead>
		<tbody>
			{{range .Users}}
			<tr>
				<th scope="row">{{.Id}}</th>
				<td>{{.Name}}</td>
				<td>{{.Password}}</td>
				<td>
					<a href="/users/userdetail?id={{.Id}}" class="btn btn-outline-info">
						Detail</a>
					&nbsp;
				</td>
			</tr>
		  {{end}}
		  
		</tbody>
	  </table>
</div>

{{template "partials/footer" .}}